*{
	text-align: center;
	font-family: sans-serif;
}
button{
	margin: 10px;
}
#blackjack_div{
	display: none;
	border: solid black 3px;
	background-color: green;
}
.hand_div{
	width: 400px;
	margin: 10px auto;
	display: block;
	border: solid black 2px;
	background-color: gray;
}